* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  /* You can define custom CSS variables here if needed */
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: ridge #fffd60 1px;
  width: 100%;
  padding: 20px;
  height: 100%;
}